<%= form_with(model: account, local: true) do |form| %>
    <label>
        Tube
        <%= form.text_field :cloudkit_id, placeholder: "CloudKit Token" %>
    </label>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
